/* Geral */
:root {
    --primaryBlue: #3498db;
    --secondaryBlue: #2980b9;
    --primaryGreen: #2ECC71;
    --secondaryGreen: #27AE60;
}

body {overflow: auto;}

/* Navbar */
.logo_area_cliente {
    height: 80px;
    margin-right: 30px;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-primary {
    height: 100px;
    background: #27ae60 !important;
    font-size: 25px;
}

a.nav-link {
    transition: all 100ms ease-in-out;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: -10px;
}

a.nav-link:hover {cursor: pointer;}
a {outline: 0;}

button:focus,
button:active,
button:visited,
button:active,
button::after {
    outline: none !important;
    border: 0 !important;
    outline: none !important;
    box-shadow: none !important;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-primary button {
    background: var(--primaryBlue);
    font-size: 18px;
    padding: 15px 8px;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
    transition: all 300ms ease-in-out;
    margin-left: 15px;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-primary button:hover {
    background: var(--secondaryBlue);
    cursor: pointer;
}

.logout_button {margin: 0 20px 0 5% !important; background: #eb4d4b !important;}
.logout_button:hover {background: #c0392b !important;}
.navbar_logout_icon.hydrated {
    color: #fff;
    font-size: 25px;
    position: relative;
    top: 5px;
    right: -4px;
}

ul.navbar-nav.mr-auto {
    margin-right: -5% !important;
}

/* Pesquisa da navbar */ 
.searchform.cf.log_search {
   width: 5%;
}

/* Mensagens de erro e sucesso */ 
#check_success {color: #27AE60;}
#check_success:hover {color: rgb(1, 148, 62);}
.check_reserves {
    color: var(--secondaryBlue);
    transition: all 300ms ease-in-out;
}
.check_reserves:hover {color: var(--primaryBlue);}
.check_all_activities {
    color: var(--secondaryBlue);
    transition: all 300ms ease-in-out;
}
.check_all_activities {color: var(--primaryBlue);}

/* Atividades */
.body_area_cliente {background: #2ecc71;}

#all_activities h1 {
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    margin: 20px;
    text-align: center;
}

#all_activities .list-group {padding: 20px 30px;}
.d-flex h5 {font-size: 28px; font-weight: bold;}
.list-group p {font-size: 21px; margin: 20px 0}
.list-group .subtitulo_listagem {font-weight: bold;}
.list-group .img_listagem {
    width: 650px;
    height: 450px;
    margin: -110px 0 0 45.3%;
}

div#user_activities h1.alert.alert-info {
    color: var(--secondaryGreen);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.list-group button {
    background: var(--primaryGreen);
    color: #fff;
    padding: 15px;
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px 0 20px 0;
    transition: all 300ms ease-in-out;
    border: 0;
}

.list-group button:hover {background: var(--secondaryGreen);}

.hr_style {
    margin: 30px 0 5px 0;
    height: 30px;
    border-style: solid;
    border-color: #fff;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

.hr_style:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

#user_activities {display: none;}

/* Formulário de reserva */
.list-group-item .form-group {display: flex; flex-direction: column;}
.list-group-item h5 {font-size: 30px; font-weight: bold; margin-bottom: 20px;}
.list-group-item h3 {font-size: 24px; font-weight: bold; margin-bottom: 20px;}
.list-group-item p {font-size: 23px;}
.list-group label {font-size: 18px !important; font-weight: bold;}
.cn {width: 165px;}
#exp {width: 80px;}
#card_name {width: 285px;}

/* Listagem de reservas (cliente) */ 
#user_activities h1 {
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    margin: 20px;
    text-align: center;
}

thead {
    border: 3px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    background: var(--secondaryGreen);
    text-align: center;
}

tbody {color: #fff;font-size: 18px;background: var(--primaryGreen);}
.table-bordered th {border: 3px solid #fff;}
.table-bordered td {border: 2px solid #fff;}
.table-bordered button {
    text-transform: uppercase;
    border-radius: 0;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 20px;
    transition: all 300ms ease-in-out;
    outline: 0;
    border: 0;
}

.table-bordered button:hover {cursor: pointer;}
.img_reservas_cliente {width: 100px;}