/* General */ 
button:focus,
button:active,
button:visited,
button:active,
button::after,
a:focus,
a:active,
a:visited,
a:active,
a::after {
    outline: none !important;
    border: 0 !important;
    outline: none !important;
    box-shadow: none !important;
}

/* Menu de navegação admin */ 
.navbar button {
    text-transform: uppercase;
    color: #fff !important;
    font-size: 22.5px !important;
    outline: 0;
    border: 1px solid #fff !important;
    padding: 18px;
}

.menu_icons {position: relative; top: 4px; right: 1px;}

.navbar hr {
    margin: 15px 0 -15px 0;
    height: 15px;
    border-style: solid;
    border-color: #fff;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

.navbar hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

/* .navbar p {
    font-size: 20px;
    color: #fff;
    text-align: justify;
} */

.navbar li {
    margin-top: 12px;
    font-size: 18px;
    text-transform: uppercase;
}

.navbar a.nav-link {
    color: #cacaca !important;
    transition: all 300ms ease-in-out;
}

.navbar li .active {
    color: #fff !important;
    font-size: 20px;
}

/* Atividades e reservas */
h1 {
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    margin: 20px;
    text-align: center;
}

.admin_wrapper {display: flex; flex-direction: column;}
#new_activity,
#edit_activities,
#all_reserves_admin,
#edit_reserves {display: none;}

/* Media Queries */
@media screen and (min-width: 992px) {
    .admin {
        height: 100vh;
        display: flex;
    }

    .admin .admin-sidebar {
        width: 375px;
        overflow: auto;
        margin-right: -20px;
    }

    .admin_wrapper {
        margin-top: 20px;
        width: 80%;
    }
}