/* General */ 
button:active,
button:visited,
button:active,
button::after,
a:focus,
a:active,
a:visited,
a:active,
a::after {
    outline: none !important;
    border: 0 !important;
    outline: none !important;
    box-shadow: none !important;
}

/* Menu de navegação admin e topo da página */ 
.navbar button {
    text-transform: uppercase;
    color: #fff !important;
    font-size: 22.5px !important;
    outline: 0;
    border: 1px solid #fff !important;
    padding: 18px;
}

.menu_icons {position: relative; top: 4px; right: 1px;}

.navbar hr {
    margin: 15px 0 -15px 0;
    height: 15px;
    border-style: solid;
    border-color: #fff;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

.navbar hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

/* .navbar p {
    font-size: 20px;
    color: #fff;
    text-align: justify;
} */

.navbar li {
    margin-top: 12px;
    font-size: 18px;
    text-transform: uppercase;
}

.navbar a.nav-link {
    color: #cacaca !important;
    transition: all 300ms ease-in-out;
}

.navbar li .active {
    color: #fff !important;
    font-size: 20px;
}

/* Atividades e reservas */
h1 {
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

#all_activities,
#new_activity,
#edit_activities,
#all_reserves_admin,
#edit_reserves {display: none;}


/* Listagem de atividades */ 
#all_activities_admin .list-group {padding: 20px 30px;}
.list-group-item.active {
    background: none;
    border: 2px solid #fff;
    margin-top: 20px;
    width: 850px;
}
.list-group h5 {font-size: 25px;font-weight: bold;}
.list-group p {font-size: 21px;margin: 20px 0}
.list-group .subtitulo_listagem {font-weight: bold;}

.list-group button {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    outline: 0;
    border: 1px solid #fff !important;
    padding: 18px;
    background: none !important;
    box-shadow: none;
    text-shadow: none;
}

.list-group button:hover {color: #fff;}

/* Nova atividade */ 
#insert_activity_form {
    margin: 25px 0 25px 3%;
    border: 2px solid #fff;
    width: 71%;
    padding: 20px 50px;
}

#insert_activity_form button {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    outline: 0;
    border: 1px solid #fff !important;
    padding: 18px;
    background: none !important;
    box-shadow: none;
    text-shadow: none;
}

.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.form-group label {
    font-size: 22px !important;
    margin-bottom: 10px;
    color: #fff;
}

label {
    font-size: 22px !important;
    margin-top: 15px;
    color: #fff;
}

.inline_fields_labels {
    display: flex;
    justify-content: space-around;
    margin: 15px -50px;
}

input[name="nome_atividade"],
textarea[name="descricao_atividade"], 
input[name="duracao_atividade"],
input[name="zona_atividade"],
input[name="preco_atividade"] {
    font-size: 19px;
}

input[name="duracao_atividade"] {
    width: 120px !important;
}

input[name="zona_atividade"] {
    width: 160px !important;
}

input[name="preco_atividade"] {
    width: 135px !important;
}

.zona_atividade {margin-left: -2.9%}
.duracao_atividade {margin-left: 4%;}
.preco_atividade {margin-left: 7.5%;}
.upload_imagem_label {margin-top: 15px;}

#insert_activity_form ion-icon.hydrated {
    font-size: 40px;
    color: #fff;
    margin-right: 4px;
}

/* Media Queries */
@media screen and (min-width: 992px) {
    
    /* Área administrativa */
    .admin {
        height: 100vh;
        display: flex;
    }

    /* Barra lateral de navegação */
    .admin .admin-sidebar {
        width: 375px;
        overflow: auto;
        margin-right: -20px;
    }

    /* Admin wrapper */
    .admin_wrapper {
        margin-top: 20px;
        width: 80%;
    }

    /* Botão de logout */
    .logout_button {
        float: right;
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
        margin-right: 3%;
        margin-top: -5px;
        outline: 0;
        border: 1px solid #fff !important;
        padding: 15px;
        background: none !important;
        box-shadow: none;
    }

    /* Ícone do botão de logout */
    .navbar_logout_icon {
        position: relative;
        top: 3px;
        left: 4px;
    }

}